In [1]:
#####IMPORT HOUSING DATA FROM S3#####

import pandas as pd
import numpy as np
import s3fs
import dask as dd
from dask.dataframe import DataFrame
from dask.distributed import Client, progress
import dask.array as dask
from dask.diagnostics import Profiler, ResourceProfiler, CacheProfiler
%matplotlib inline
import doctest

#close existing dask connection 
def closeExistingDaskConnection():   
    """Closes an existing Dask connection for you, so you don't have resource leaks

    If called with an existing connection, from prior Jupyter runs, it will close it.
    >>> closeExistingDaskConnection()
    
    """
    
    #temp variable for client
    closed = None
    
    try:
        #if the client exists from prior runs
        if client is not None:
            #close it
            client.close()
            
            #print("closed existing connection, ",client)
            #set closed = client to get state
            closed = client
    #if the client variable did not exist (first run) then a name exception is thrown which we can catch
    except Exception as e:
        if str(e)!= "name 'client' is not defined":
            raise(e)
        #print(e)
    
    return closed

#call because we need to close existing connections
client = closeExistingDaskConnection()
if __name__ == "__main__":
    doctest.testmod(verbose=1)

Trying:
    closeExistingDaskConnection()
Expecting nothing
ok
1 items had no tests:
    __main__
1 items passed all tests:
   1 tests in __main__.closeExistingDaskConnection
1 tests in 2 items.
1 passed and 0 failed.
Test passed.

In [2]:
#new client connected to LK Dask Scheduler
client = Client(address="ec2-3-91-20-111.compute-1.amazonaws.com:8786",timeout="60000s",)
display(client)

c:\users\lauren\appdata\local\programs\python\python37\lib\site-packages\distributed\client.py:1265: VersionMismatchWarning: Mismatched versions found

+---------+---------------+----------------+----------------+
| Package | client        | scheduler      | workers        |
+---------+---------------+----------------+----------------+
| python  | 3.7.1.final.0 | 3.7.10.final.0 | 3.7.10.final.0 |
+---------+---------------+----------------+----------------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

In [3]:
#declare the states being used for the analysis
#States with Data = ['AZ', 'CA', 'CT', 'FL', 'GA', 'IL', 'IA', 'MD', 'MA', 'MI', 'MN', 'MO', 'NE', 'NV', 'NJ', 'NC', 'OH', 'OK', 'OR', 'PA', 'SC', 'TN', 'TX', 'VA']
#States = ['AZ', 'CA', 'CT', 'FL', 'GA', 'IL', 'IA', 'MD', 'MA', 'MI', 'MN', 'MO', 'NE', 'NV', 'NJ', 'NC', 'OH', 'OK', 'OR', 'PA', 'SC', 'TN', 'TX', 'VA']
States = ['DC']
df_all = pd.DataFrame()
df_all = dd.dataframe.from_pandas(df_all, npartitions=10)

#pull chosen state's data from S3 and append to dask dataframe
for State in States:
    try:
        bucket = 'housingdata123'
        data_key = 'HousingData_Dolt_{}.csv'.format(State)
        data_location = 's3://{}/{}'.format(bucket,data_key)

        df_all = dd.dataframe.read_csv(data_location, storage_options={'key': 'AKIA5OMWNVBKXKF5SI7O',
                                       'secret': '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'}, 
                                   dtype={'zip5': 'object', 'physical_address': 'object','property_id': 
                                          'object', 'sale_date':'object', 'year_built': 'object','book': 'object',
                                          'buyer_name': 'object','page': 'object','property_type': 'object',
                                          'sale_type': 'object','seller_name': 'object','city': 'object', 
                                          'num_units': 'object','county': 'object'})
       
        #Append is deprecated and should now be concat.  Decided to read the CSV directly into df_all since otherwise it was blank (LK)
        #df_all = df_all.append(df)
        
    except:
        print("Import failed for the following state: {}".format(State))

df_all.head(10)

,state,zip5,physical_address,city,county,property_id,sale_date,property_type,sale_price,seller_name,buyer_name,num_units,year_built,source_url,book,page,sale_type
0,DC,20003,1 18TH ST SE # 102,WASHINGTON,WASHINGTON,76000,2020-11-24 00:00:00,NaN,0,NaN,CRYSTAL L BRIDGEMAN TRUSTEE,NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
1,DC,20003,1 18TH ST SE # 103,WASHINGTON,WASHINGTON,76000,2003-01-28 00:00:00,NaN,191050,NaN,"SMITH, GENE",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
2,DC,20003,1 18TH ST SE # 104,WASHINGTON,WASHINGTON,76000,2015-03-24 00:00:00,NaN,390000,NaN,"LIN, CHIENJU",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
3,DC,20003,1 18TH ST SE # 201,WASHINGTON,WASHINGTON,76000,2003-01-31 00:00:00,NaN,198350,NaN,"LEWIS, KARLA",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
4,DC,20003,1 18TH ST SE # 203,WASHINGTON,WASHINGTON,76000,2013-06-06 00:00:00,NaN,352500,NaN,"WITORSCH, KATALIN",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
5,DC,20002,1 16TH ST NE,WASHINGTON,WASHINGTON,75999,2021-04-08 00:00:00,NaN,900000,NaN,"THURLOW, CHRISTOPHER",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
6,DC,20003,1 18TH ST SE # 204,WASHINGTON,WASHINGTON,76000,2009-05-13 00:00:00,NaN,320000,NaN,"BRENNAN, DEBRA J",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
7,DC,20003,1 18TH ST SE # 301,WASHINGTON,WASHINGTON,76000,2021-11-23 00:00:00,NaN,0,NaN,HOLLY ANNE SOLBERG TRUSTEE,NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
8,DC,20003,1 18TH ST SE # 302,WASHINGTON,WASHINGTON,76000,2018-02-22 00:00:00,NaN,451000,NaN,"DURBAK, KATRINA A",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN
9,DC,20003,1 18TH ST SE # 304,WASHINGTON,WASHINGTON,76000,2012-08-06 00:00:00,NaN,362000,NaN,"BIEDERMAN, MICHELLE",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN

In [4]:
#####CLEANUP TIME#####

#choose years for analysis; if you want all years, type 'all'
Years = ['2016','2017','2018','2019']
#Years= ['all']

#drop extraneous columns
#missing df_all = df_all so column drop was not working; Removed drop of 'sale_price" as this is referenced later and needed (LK)
df_all = df_all.drop(columns=['property_type','seller_name','buyer_name','num_units','year_built','source_url','book','page','sale_type'])
df_all.compute()
df_all.head(10)

,state,zip5,physical_address,city,county,property_id,sale_date,sale_price
0,DC,20003,1 18TH ST SE # 102,WASHINGTON,WASHINGTON,76000,2020-11-24 00:00:00,0
1,DC,20003,1 18TH ST SE # 103,WASHINGTON,WASHINGTON,76000,2003-01-28 00:00:00,191050
2,DC,20003,1 18TH ST SE # 104,WASHINGTON,WASHINGTON,76000,2015-03-24 00:00:00,390000
3,DC,20003,1 18TH ST SE # 201,WASHINGTON,WASHINGTON,76000,2003-01-31 00:00:00,198350
4,DC,20003,1 18TH ST SE # 203,WASHINGTON,WASHINGTON,76000,2013-06-06 00:00:00,352500
5,DC,20002,1 16TH ST NE,WASHINGTON,WASHINGTON,75999,2021-04-08 00:00:00,900000
6,DC,20003,1 18TH ST SE # 204,WASHINGTON,WASHINGTON,76000,2009-05-13 00:00:00,320000
7,DC,20003,1 18TH ST SE # 301,WASHINGTON,WASHINGTON,76000,2021-11-23 00:00:00,0
8,DC,20003,1 18TH ST SE # 302,WASHINGTON,WASHINGTON,76000,2018-02-22 00:00:00,451000
9,DC,20003,1 18TH ST SE # 304,WASHINGTON,WASHINGTON,76000,2012-08-06 00:00:00,362000

In [5]:
#drop rows with 0 for their sale price
df_all = df_all[df_all.sale_price != 0]

#reformat the sales dates to only include the year
df_all['sale_date'] = df_all['sale_date'].str[0:4]
df_all['sale_date'] = df_all['sale_date'].astype(str)

if 'all' not in Years:
    
    #drop rows that aren't in the desired year range
    df_all = df_all[df_all.sale_date.isin(Years)]

Years = list(set(df_all['sale_date']))

#group and average housing prices by zip code
house_price_avg = df_all.groupby(['zip5','sale_date']).agg({'sale_price': ['mean','count']}).compute()
house_price_avg = house_price_avg.droplevel(level = 0,axis=1)
house_price_avg = house_price_avg.reset_index()
house_price_avg.head()

    zip5 sale_date          mean  count
0  20001      2016  1.454690e+06    481
1  20001      2017  1.466283e+06    652
2  20001      2018  1.271792e+06    715
3  20001      2019  1.194899e+06    766
4  20002      2016  1.461908e+06    790

In [6]:
#running a time series analysis on the housing data
#parallelizing model prediction for several parameters: feature number, categorical variable buckets
#comparing the time series forecasting to the census bureau modelling

In [9]:
#####IMPORT CHOSEN CENSUS BUREAU DATA#####

#####melt the dataframes, add a year column, append to consolidated dataframe, edit, and then unmelt

import requests # request http, api
import pandas as pd # tabluar data
import dask as dd
from dask.dataframe import DataFrame

#create a state code dictionary for the census bureau API
api_states= ['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
api_codes= [1,2,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56]
zip_iterator = zip(api_states, api_codes)
API_State_Codes = dict(zip_iterator)

#create list of codes associated with original state query
API_List = ''
for state in States:
    API_List = API_List + str(API_State_Codes[state]) + ','

API_List = API_List[0:-1]

#declare census api key
census_api_key = "35bea501f0c96a696cc609f9cb32b27e6541fbae"

#declare tables and years
Tables = ['DP05']
Consol_Zip_Table = pd.DataFrame()
Consol_Zip_Table = dd.dataframe.from_pandas(Consol_Zip_Table, npartitions=10)
        
for Year in Years:
    for ID in Tables:
        
        #subject tables
        try:
            if str(ID[0]) == 'S':

                url = "https://api.census.gov/data/{0}/acs/acs5/subject?get=NAME,group({1})&for=zip%20code%20tabulation%20area:*&in=state:{2}&key={3}"\
                .format(Year, ID ,census_api_key)

                response = requests.request("GET", url)

        except:
                print('Subject Table: ' + str(ID) + ', ' + str(Year) + ', Failed')
                continue

        #data profile tables
        try:
            if str(ID[0]) == 'D':

                url = "https://api.census.gov/data/{0}/acs/acs5/profile?get=NAME,group({1})&for=zip%20code%20tabulation%20area:*&in=state:{2}&key={3}"\
                .format(Year, ID , API_List, census_api_key)

                response = requests.request("GET", url)
                
        except:
                print('Data Profile Table: ' + str(ID) + ', ' + str(Year) + ', Failed')
                continue

        #detailed tables
        try:
            if str(ID[0]) == 'B':

                url = "https://api.census.gov/data/{0}/acs/acs5?get=NAME,group({1})&for=zip%20code%20tabulation%20area:*&in=state:{2}&key={3}"\
                .format(Year, ID ,census_api_key)

                response = requests.request("GET", url)
                
        except:
                print('Detailed Table: ' + str(ID) + ', ' + str(Year) + ', Failed')
                continue
                
                
        #create pandas dataframe, remove duplicate columns
        df = pd.DataFrame(response.json()[1:], columns=response.json()[0])
        df = df.loc[:,~df.columns.duplicated()]
                
        #add year column, melt into a long form
        Remove_Col = ['NAME','GEO_ID','state','zip code tabulation area'] 
        Col = list(df.columns)
        Col = [ele for ele in Col if ele not in Remove_Col]
        
        df_melt = df.melt(id_vars=['zip code tabulation area'], value_vars= Col, ignore_index=False)
        df_melt['YEAR'] = Year
        
        #remove margin of error variables
        df_melt = df_melt[df_melt['variable'].str.contains("M")==False]

        #append to consolidated dataframe
        #append deprecated and resulting in blank table.  Setting direct assignment (LK)
        #Consol_Zip_Table = Consol_Zip_Table.append(df_melt)
        Consol_Zip_Table = df_melt
        print('Table: ' + str(ID) + ', ' + str(Year) + ', Completed')

Table: DP05, 2016, Completed
Table: DP05, 2019, Completed
Table: DP05, 2018, Completed
Table: DP05, 2017, Completed

In [27]:
Consol_Zip_Table.head(30)
#Consol_Zip_Table.dtypes
#type(Consol_Zip_Table)

   zip code tabulation area    variable    value  YEAR
0                     20008  DP05_0001E  29527.0  2017
1                     20009  DP05_0001E  51542.0  2017
2                     20003  DP05_0001E  30259.0  2017
3                     20004  DP05_0001E   1717.0  2017
4                     20005  DP05_0001E  13234.0  2017
5                     20016  DP05_0001E  34904.0  2017
6                     20319  DP05_0001E     53.0  2017
7                     20019  DP05_0001E  61351.0  2017
8                     20017  DP05_0001E  19993.0  2017
9                     20001  DP05_0001E  45925.0  2017
10                    20020  DP05_0001E  56622.0  2017
11                    20032  DP05_0001E  42257.0  2017
12                    20007  DP05_0001E  27142.0  2017
13                    20018  DP05_0001E  20146.0  2017
14                    20037  DP05_0001E  14812.0  2017
15                    20036  DP05_0001E   5836.0  2017
16                    20011  DP05_0001E  67257.0  2017
17                    20006  DP05_0001E   2780.0  2017
18                    20010  DP05_0001E  33654.0  2017
19                    20024  DP05_0001E  12596.0  2017
20                    20002  DP05_0001E  61787.0  2017
21                    20012  DP05_0001E  15221.0  2017
22                    20015  DP05_0001E  15878.0  2017
23                    20045  DP05_0001E      0.0  2017
24                    20052  DP05_0001E    686.0  2017
25                    20053  DP05_0001E      0.0  2017
26                    20057  DP05_0001E   3709.0  2017
27                    20064  DP05_0001E   2213.0  2017
28                    20202  DP05_0001E      0.0  2017
29                    20204  DP05_0001E      0.0  2017

In [29]:
#correct the datatypes in preparation for the join
#Consol_Zip_Table = Consol_Zip_Table.compute()

#ddf["nums"] = dd.to_numeric(ddf["nums"], errors="coerce")
Consol_Zip_Table["YEAR"] = Consol_Zip_Table["YEAR"].astype(str)
Consol_Zip_Table["zip code tabulation area"] = Consol_Zip_Table["zip code tabulation area"].astype(str)
Consol_Zip_Table["variable"] = Consol_Zip_Table["variable"].astype(str)

#Consol_Zip_Table["value"] = Consol_Zip_Table["value"].astype(float)
Consol_Zip_Table["value"] = pd.to_numeric(Consol_Zip_Table["value"], errors="coerce")

#Final_Table = pd.pivot_table(pandas_df, index=['YEAR','zip code tabulation area'], columns=['variable'], values=['value'],aggfunc=np.sum,fill_value=0)
Final_Table = pd.pivot_table(Consol_Zip_Table, index=['YEAR','zip code tabulation area'], columns=['variable'], values=['value'],aggfunc=np.sum,fill_value=0)
Final_Table = Final_Table.droplevel(level = 0,axis=1)
Final_Table = Final_Table.reset_index()

Final_Table.head(30)

variable,YEAR,zip code tabulation area,DP05_0001E,DP05_0001EA,DP05_0001PE,DP05_0001PEA,DP05_0002E,DP05_0002EA,DP05_0002PE,DP05_0002PEA,...,DP05_0087PE,DP05_0087PEA,DP05_0088E,DP05_0088EA,DP05_0088PE,DP05_0088PEA,DP05_0089E,DP05_0089EA,DP05_0089PE,DP05_0089PEA
0,2017,20001,45925,0,45925,0,22060,0,48.0,0,...,37707,0,17766,0,47.1,0,19941,0,52.9,0
1,2017,20002,61787,0,61787,0,29602,0,47.9,0,...,49749,0,23402,0,47.0,0,26347,0,53.0,0
2,2017,20003,30259,0,30259,0,15633,0,51.7,0,...,25074,0,13047,0,52.0,0,12027,0,48.0,0
3,2017,20004,1717,0,1717,0,914,0,53.2,0,...,1464,0,771,0,52.7,0,693,0,47.3,0
4,2017,20005,13234,0,13234,0,6740,0,50.9,0,...,10144,0,5184,0,51.1,0,4960,0,48.9,0
5,2017,20006,2780,0,2780,0,1332,0,47.9,0,...,2360,0,1100,0,46.6,0,1260,0,53.4,0
6,2017,20007,27142,0,27142,0,12618,0,46.5,0,...,20515,0,9612,0,46.9,0,10903,0,53.1,0
7,2017,20008,29527,0,29527,0,13423,0,45.5,0,...,22714,0,10099,0,44.5,0,12615,0,55.5,0
8,2017,20009,51542,0,51542,0,26813,0,52.0,0,...,41169,0,21477,0,52.2,0,19692,0,47.8,0
9,2017,20010,33654,0,33654,0,17282,0,51.4,0,...,22281,0,10967,0,49.2,0,11314,0,50.8,0
10,2017,20011,67257,0,67257,0,32580,0,48.4,0,...,44401,0,20581,0,46.4,0,23820,0,53.6,0
11,2017,20012,15221,0,15221,0,7316,0,48.1,0,...,11037,0,5166,0,46.8,0,5871,0,53.2,0
12,2017,20015,15878,0,15878,0,7758,0,48.9,0,...,10896,0,5232,0,48.0,0,5664,0,52.0,0
13,2017,20016,34904,0,34904,0,15598,0,44.7,0,...,24804,0,10583,0,42.7,0,14221,0,57.3,0
14,2017,20017,19993,0,19993,0,9189,0,46.0,0,...,15839,0,6849,0,43.2,0,8990,0,56.8,0
15,2017,20018,20146,0,20146,0,9326,0,46.3,0,...,15288,0,6781,0,44.4,0,8507,0,55.6,0
16,2017,20019,61351,0,61351,0,27048,0,44.1,0,...,44313,0,18387,0,41.5,0,25926,0,58.5,0
17,2017,20020,56622,0,56622,0,25066,0,44.3,0,...,39710,0,17167,0,43.2,0,22543,0,56.8,0
18,2017,20024,12596,0,12596,0,5820,0,46.2,0,...,10711,0,5028,0,46.9,0,5683,0,53.1,0
19,2017,20032,42257,0,42257,0,19154,0,45.3,0,...,29039,0,12742,0,43.9,0,16297,0,56.1,0
20,2017,20036,5836,0,5836,0,2576,0,44.1,0,...,4954,0,2291,0,46.2,0,2663,0,53.8,0
21,2017,20037,14812,0,14812,0,6922,0,46.7,0,...,11676,0,5302,0,45.4,0,6374,0,54.6,0
22,2017,20045,0,0,0,0,0,0,-666666666.0,0,...,0,0,0,0,-666666666.0,0,0,0,-666666666.0,0
23,2017,20052,686,0,686,0,379,0,55.2,0,...,597,0,310,0,51.9,0,287,0,48.1,0
24,2017,20053,0,0,0,0,0,0,-666666666.0,0,...,0,0,0,0,-666666666.0,0,0,0,-666666666.0,0
25,2017,20057,3709,0,3709,0,1742,0,47.0,0,...,3280,0,1531,0,46.7,0,1749,0,53.3,0
26,2017,20064,2213,0,2213,0,959,0,43.3,0,...,2047,0,880,0,43.0,0,1167,0,57.0,0
27,2017,20202,0,0,0,0,0,0,-666666666.0,0,...,0,0,0,0,-666666666.0,0,0,0,-666666666.0,0
28,2017,20204,0,0,0,0,0,0,-666666666.0,0,...,0,0,0,0,-666666666.0,0,0,0,-666666666.0,0
29,2017,20228,0,0,0,0,0,0,-666666666.0,0,...,0,0,0,0,-666666666.0,0,0,0,-666666666.0,0

In [31]:
#join the housing data and census data
house_price_avg["sale_date"] = house_price_avg["sale_date"].astype(str)
house_price_avg["zip5"] = house_price_avg["zip5"].astype(str)

house_price_avg.head(20)

     zip5 sale_date          mean  count
0   20001      2016  1.454690e+06    481
1   20001      2017  1.466283e+06    652
2   20001      2018  1.271792e+06    715
3   20001      2019  1.194899e+06    766
4   20002      2016  1.461908e+06    790
5   20002      2017  1.258494e+06    868
6   20002      2018  1.287787e+06   1016
7   20002      2019  1.496683e+06   1043
8   20003      2016  1.112682e+06    296
9   20003      2017  1.080292e+06    404
10  20003      2018  1.060349e+06    535
11  20003      2019  2.068744e+06    560
12  20004      2016  8.960241e+05     41
13  20004      2017  1.135991e+06     50
14  20004      2018  8.803072e+06     64
15  20004      2019  3.719506e+06     55
16  20005      2016  5.904078e+06    161
17  20005      2017  5.484323e+06    243
18  20005      2018  5.786607e+06    273
19  20005      2019  3.181332e+06    281

In [32]:
#new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])
Merged_Matrix = pd.merge(Final_Table, house_price_avg, how='left', left_on=['zip code tabulation area','YEAR'], right_on=['zip5','sale_date'])
#Merged_Matrix = Final_Table.join(house_price_avg, lsuffix=['zip code tabulation area','YEAR'], rsuffix=['zip5','sale_date'])  
Merged_Matrix.head(30)

,YEAR,zip code tabulation area,DP05_0001E,DP05_0001EA,DP05_0001PE,DP05_0001PEA,DP05_0002E,DP05_0002EA,DP05_0002PE,DP05_0002PEA,...,DP05_0088PE,DP05_0088PEA,DP05_0089E,DP05_0089EA,DP05_0089PE,DP05_0089PEA,zip5,sale_date,mean,count
0,2017,20001,45925,0,45925,0,22060,0,48.0,0,...,47.1,0,19941,0,52.9,0,20001,2017,1.466283e+06,652.0
1,2017,20002,61787,0,61787,0,29602,0,47.9,0,...,47.0,0,26347,0,53.0,0,20002,2017,1.258494e+06,868.0
2,2017,20003,30259,0,30259,0,15633,0,51.7,0,...,52.0,0,12027,0,48.0,0,20003,2017,1.080292e+06,404.0
3,2017,20004,1717,0,1717,0,914,0,53.2,0,...,52.7,0,693,0,47.3,0,20004,2017,1.135991e+06,50.0
4,2017,20005,13234,0,13234,0,6740,0,50.9,0,...,51.1,0,4960,0,48.9,0,20005,2017,5.484323e+06,243.0
5,2017,20006,2780,0,2780,0,1332,0,47.9,0,...,46.6,0,1260,0,53.4,0,20006,2017,2.935500e+07,20.0
6,2017,20007,27142,0,27142,0,12618,0,46.5,0,...,46.9,0,10903,0,53.1,0,20007,2017,1.757897e+06,448.0
7,2017,20008,29527,0,29527,0,13423,0,45.5,0,...,44.5,0,12615,0,55.5,0,20008,2017,1.294756e+06,305.0
8,2017,20009,51542,0,51542,0,26813,0,52.0,0,...,52.2,0,19692,0,47.8,0,20009,2017,8.741012e+05,802.0
9,2017,20010,33654,0,33654,0,17282,0,51.4,0,...,49.2,0,11314,0,50.8,0,20010,2017,7.221939e+05,333.0
10,2017,20011,67257,0,67257,0,32580,0,48.4,0,...,46.4,0,23820,0,53.6,0,20011,2017,6.153370e+05,709.0
11,2017,20012,15221,0,15221,0,7316,0,48.1,0,...,46.8,0,5871,0,53.2,0,20012,2017,1.333025e+06,138.0
12,2017,20015,15878,0,15878,0,7758,0,48.9,0,...,48.0,0,5664,0,52.0,0,20015,2017,9.453638e+05,198.0
13,2017,20016,34904,0,34904,0,15598,0,44.7,0,...,42.7,0,14221,0,57.3,0,20016,2017,2.157037e+06,475.0
14,2017,20017,19993,0,19993,0,9189,0,46.0,0,...,43.2,0,8990,0,56.8,0,20017,2017,7.210705e+05,240.0
15,2017,20018,20146,0,20146,0,9326,0,46.3,0,...,44.4,0,8507,0,55.6,0,20018,2017,6.245753e+05,257.0
16,2017,20019,61351,0,61351,0,27048,0,44.1,0,...,41.5,0,25926,0,58.5,0,20019,2017,7.956173e+05,557.0
17,2017,20020,56622,0,56622,0,25066,0,44.3,0,...,43.2,0,22543,0,56.8,0,20020,2017,4.248533e+05,430.0
18,2017,20024,12596,0,12596,0,5820,0,46.2,0,...,46.9,0,5683,0,53.1,0,20024,2017,2.888204e+06,207.0
19,2017,20032,42257,0,42257,0,19154,0,45.3,0,...,43.9,0,16297,0,56.1,0,20032,2017,6.098004e+05,222.0
20,2017,20036,5836,0,5836,0,2576,0,44.1,0,...,46.2,0,2663,0,53.8,0,20036,2017,2.322252e+07,121.0
21,2017,20037,14812,0,14812,0,6922,0,46.7,0,...,45.4,0,6374,0,54.6,0,20037,2017,7.130360e+07,456.0
22,2017,20045,0,0,0,0,0,0,-666666666.0,0,...,-666666666.0,0,0,0,-666666666.0,0,NaN,NaN,NaN,NaN
23,2017,20052,686,0,686,0,379,0,55.2,0,...,51.9,0,287,0,48.1,0,NaN,NaN,NaN,NaN
24,2017,20053,0,0,0,0,0,0,-666666666.0,0,...,-666666666.0,0,0,0,-666666666.0,0,NaN,NaN,NaN,NaN
25,2017,20057,3709,0,3709,0,1742,0,47.0,0,...,46.7,0,1749,0,53.3,0,NaN,NaN,NaN,NaN
26,2017,20064,2213,0,2213,0,959,0,43.3,0,...,43.0,0,1167,0,57.0,0,NaN,NaN,NaN,NaN
27,2017,20202,0,0,0,0,0,0,-666666666.0,0,...,-666666666.0,0,0,0,-666666666.0,0,NaN,NaN,NaN,NaN
28,2017,20204,0,0,0,0,0,0,-666666666.0,0,...,-666666666.0,0,0,0,-666666666.0,0,NaN,NaN,NaN,NaN
29,2017,20228,0,0,0,0,0,0,-666666666.0,0,...,-666666666.0,0,0,0,-666666666.0,0,NaN,NaN,NaN,NaN

In [ ]:
#type(Merged_Matrix)

In [ ]:
import dask_ml.datasets
import dask_ml.cluster
from dask_ml.cluster import KMeans

ddf = dd.dataframe.from_pandas(Merged_Matrix,npartitions=1)
X = ddf.persist()

clf = KMeans(init_max_iter=3,oversampling_factor=10)
clf.fit(X['mean'])


#km = dask_ml.cluster.KMeans(n_clusters=4,random_state=1)
#km.fit(X)
#X['mean'].head()

In [ ]:
%%time
inertias = []
di = pd.DataFrame(columns=["k","inertia","model","sil"])
di = di.set_index('k')

for r in range(2,8):
#for r in range(2,4):
 
    km = dask_ml.cluster.KMeans(n_clusters=r,random_state=1)
    km.fit(noZero.perChild.to_numpy().reshape(-1,1),)

    #get score
    score = ss(noZero.perChild.to_numpy().reshape(-1,1),km.labels_)

    ap = {"k":[r],"inertia":[km.inertia_],"model":[km],"sil":score}
    d2 = pd.DataFrame(ap)
    d2 = d2.set_index('k')
    
    #append
    di = pd.concat([di,d2])#,ignore_index=True)
    inertias.append(km.inertia_)
    
plt.plot(inertias)

In [ ]:
import autosklearn.classification
cls = autosklearn.classification.AutoSklearnClassifier()
cls.fit(X_train, y_train)
predictions = cls.predict(X_test)